<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notification</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


<div class="container">

    <h1>Notifications</h1>

    <div class="row">
        <p>Vos notifications Nbre :  <p th:text= "${nbreNotif}"></p></p>
        <div th:each="noti : ${notification}"class="col-md-4 my-1">
                <p th:text= "${noti.message}"></p>
                <p  th:if="${noti.idSoiree} != 0  ">
                <a th:href="@{|/soiree/notif/${noti.idSoiree}|}">Details</a></p>

        </div>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>