<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Event</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


<div class="container">

    <h1>Tous vos evenements privee</h1>

    <div class="row">
        <div th:each="event : ${events}" class="col-md-4 my-1">

                <p th:text= "${event.name}"></p>
                <p th:text= "${event.dateEvent}"></p>
                <p th:text= "${event.heure}"></p>
                <p th:text= "${event.lieu}"></p>


        </div><br/>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>